<div class="post-create bg_pattern">
  <div class="container py-12 min-h-screen">
    <section class="flex justify-between items-start gap-7">
      <div class="flex-auto space-y-4">
        <div class="relative p-8 z-[1]">
          <h1
            class="absolute inset-0 py-4 w-full border-2 border-black bg-white text-center text-xl font-bold after:inset-0 after:w-full after:h-full after:translate-x-[-7px] after:translate-y-[7px] after:content-[''] after:absolute after:bg-white after:border-2 after:border-black after:z-[-1]">
            張貼動態
          </h1>
        </div>
        <div class="card">
          <div class="card-body items-start p-8">
            <div class="form-control mx-auto space-y-1">
              <label for="postContent">貼文內容</label>
              <textarea v-model="form.content" id="postContent" type="text" name="postContent" rows="6" cols="45"
                class="form-input py-3 px-6" placeholder="輸入您的貼文內容"></textarea>
            </div>
            <label for="image-upload" class="py-1 px-8 bg-black text-white rounded cursor-pointer w-auto">

              <span>上傳圖片</span>

              <input id="image-upload" type="file" accept="image/*" class="hidden" @change="onFileChange" />
            </label>

            <template v-if="isUploading">
              <div style="border-top-color:transparent"
                class="w-16 h-16 mx-auto border-4 border-blue-400 border-dotted rounded-full animate-spin"></div>
            </template>
            <template v-else>
              <img v-if="form.image" :src="form.image" class="mx-auto max-h-[157px] max-w-[485px] object-contain"
                alt="" />
            </template>

            <div class="w-4/6 mx-auto pt-4 group">
              <!-- <ul class="text-danger text-center mb-4 hidden group-hover:block">
                <li>圖片檔案過大，僅限 1mb 以下檔案</li>
                <li>圖片格式錯誤，僅限 JPG、PNG 圖片</li>
              </ul> -->
              <button type="button"
                class="btn bg-info-dark hover:bg-secondary hover:shadow-side disabled:bg-gray-300 disabled:cursor-not-allowed disabled:shadow-none disabled:border-gray-400 disabled:text-gray-400"
                :disabled="!form.content" @click="submit">
                送出貼文
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- 側邊 Menu -->
      <SideMenu />
    </section>
  </div>
</div>