<div class="post-create bg_pattern">
  <div class="container py-12 min-h-screen">
    <section class="flex justify-between items-start gap-7">
      <div class="flex-auto space-y-4">
        <div class="relative p-8 z-[1]">
          <h1
            class="absolute inset-0 py-4 w-full border-2 border-black bg-white text-center text-xl font-bold after:inset-0 after:w-full after:h-full after:translate-x-[-7px] after:translate-y-[7px] after:content-[''] after:absolute after:bg-white after:border-2 after:border-black after:z-[-1]">
            張貼動態
          </h1>
        </div>
        <div class="card">
          <div class="card-body items-start p-8">
            <div class="form-control mx-auto space-y-1">
              <label for="postContent">貼文內容</label>
              <textarea id="postContent" type="text" name="postContent" rows="6" cols="45" class="form-input py-3 px-6"
                placeholder="輸入您的貼文內容"></textarea>
            </div>
            <label for="image-upload" class="py-1 px-8 bg-black text-white rounded cursor-pointer w-auto">上傳圖片
              <input id="image-upload" type="file" class="hidden" />
            </label>
            <img src="@/assets/images/image.png" class="" alt="" />
            <div class="w-4/6 mx-auto pt-4 group">
              <ul class="text-danger text-center mb-4 hidden group-hover:block">
                <li>圖片檔案過大，僅限 1mb 以下檔案</li>
                <li>圖片格式錯誤，僅限 JPG、PNG 圖片</li>
              </ul>
              <button type="button" class="btn bg-info-dark hover:bg-secondary hover:shadow-side">
                送出貼文
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="px-4 md:px-0 fixed md:static w-full md:w-4/12 left-0 bottom-0 -translate-y-4 md:translate-y-0">
        <nav
          class="flex flex-row md:flex-col justify-center md:justify-start py-2 rounded-r-full rounded-l-full md:rounded-none md:py-8 md:px-6 md:space-y-6 bg-gray md:bg-white border-2 border-black md:mx-0 gap-6 md:gap-0">
          <a href="./posts.html"
            class="text-center icon-circle shadow-none md:shadow-side md:rounded-lg md:btn btn-primary order-4 md:order-none">
            <i class="fa-solid fa-plus text-white md:hidden"></i>
            <span class="hidden md:block">張貼動態</span>
          </a>
          <a href="/"
            class="icon-circle bg-white border-2 border-black md:border-0 order-1 md:order-none md:flex justify-start items-center gap-4">
            <i class="fa-solid fa-house md:hidden"></i>
            <img src="@/assets/images/user.png" alt="" class="hidden md:block rounded-full" />
            <span class="font-bold hidden md:block">邊緣小杰</span>
          </a>
          <a href="./follow.html" class="flex justify-start items-center gap-4 group">
            <div class="icon-circle bg-white md:bg-info group-hover:md:bg-primary">
              <i class="fa-regular fa-bell text-xl group-hover:text-white"></i>
            </div>
            <span class="hidden md:block font-bold">追蹤名單</span>
          </a>
          <a href="./like.html" class="flex justify-start items-center gap-4 group">
            <div class="icon-circle bg-white md:bg-info group-hover:md:bg-primary">
              <i class="fa-regular fa-thumbs-up text-xl group-hover:text-white"></i>
            </div>
            <span class="hidden md:block font-bold">我按讚的文章</span>
          </a>
        </nav>
      </div>
    </section>
  </div>
</div>