<div class="register bg_pattern">
  <div class="container">
    <section class="flex justify-center items-center min-h-screen">
      <div
        class="border-2 border-black bg-gray flex flex-col md:flex-row justify-between gap-12 shadow-light py-16 px-12">

        <router-link :to="{ name: 'Home'}" class="self-center flex justify-center items-center md:w-1/3 lg:w-auto">
          <img src="@/assets/images/img.svg" alt="banner" class="cursor-pointer" />
        </router-link>

        <form class="w-full">
          <legend class="mb-9 cursor-pointer">
            <h1 class="text-center font-logo text-primary text-6xl">MetaWall</h1>
            <p class="text-center font-bold text-2xl">註冊</p>
          </legend>
          <div class="mb-8 space-y-4">
            <div class="form-control">
              <label for="userName"></label>
              <input type="text" class="form-input" name="userName" id="userName" placeholder="暱稱" />
              <span class="form-errorMsg hidden register-style">暱稱至少 2 個字元以上</span>
            </div>
            <div class="form-control">
              <label for="userEmail"></label>
              <input type="mail" class="form-input font-mono" name="userEmail" id="userEmail" placeholder="Email" />
              <span class="form-errorMsg hidden register-style">帳號已被註冊，請替換新的 Email！</span>
            </div>
            <div class="form-control">
              <label for="userPassword"></label>
              <input type="password" class="form-input font-mono" name="userPassword" id="userPassword"
                placeholder="Password" />
              <span class="form-errorMsg hidden register-style">密碼需至少 8 碼以上，並中英混合</span>
            </div>
          </div>
          <button type="button" class="btn btn-primary mb-4 btn-register">註冊</button>
          <router-link :to="{ name: 'Login'}" class="block text-center">
            登入
          </router-link>
        </form>
      </div>
    </section>
  </div>
</div>