<div class="privacy">
  <div>
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">隱私政策</font>
      </font>
    </h1>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">最後更新：2022 年 6 月 3 日</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">本隱私政策描述了我們在您使用服務時收集、使用和披露您的信息的政策和程序，並告訴您您的隱私權以及法律如何保護您。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們使用您的個人數據來提供和改進服務。</font>
        <font style="vertical-align: inherit;">通過使用服務，您同意按照本隱私政策收集和使用信息。</font>
        <font style="vertical-align: inherit;">本隱私政策是在</font>
      </font><a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">隱私政策生成器</font>
        </font>
      </a>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">的幫助下創建的。</font>
      </font>
    </p>
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">解釋和定義</font>
      </font>
    </h1>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">解釋</font>
      </font>
    </h2>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">首字母大寫的詞具有以下條件定義的含義。</font>
        <font style="vertical-align: inherit;">無論以單數還是複數形式出現，下列定義均應具有相同的含義。</font>
      </font>
    </p>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">定義</font>
      </font>
    </h2>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">就本隱私政策而言：</font>
      </font>
    </p>
    <ul>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">帳戶</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指為您創建的唯一帳戶，用於訪問我們的服務或我們的部分服務。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">公司</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">（在本協議中稱為“公司”、“我們”、“我們”或“我們的”）是指 Meta-Wall。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Cookie</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是網站放置在您的計算機、移動設備或任何其他設備上的小文件，其中包含您在該網站的多種用途中的瀏覽歷史詳細信息。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">國家</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">指：台灣</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">設備</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指可以訪問服務的任何設備，例如計算機、手機或數字平板電腦。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">個人數據</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是與已識別或可識別個人相關的任何信息。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">服務</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指網站。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">服務提供商</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指代表公司處理數據的任何自然人或法人。</font>
            <font style="vertical-align: inherit;">指本公司僱用的第三方公司或個人，以促進本服務、代表本公司提供本服務、執行與本服務相關的服務或協助本公司分析本服務的使用情況。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">第三方社交媒體服務</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指用戶可以登錄或創建帳戶以使用服務的任何網站或任何社交網絡網站。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">使用數據</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指自動收集的數據，無論是通過使用服務還是從服務基礎設施本身生成的（例如，頁面訪問的持續時間）。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">網站</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指 Meta-Wall，可從</font>
          </font><a href="https://meta-wall.kanboo.cc" rel="external nofollow noopener" target="_blank">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">https://meta-wall.kanboo.cc訪問</font>
            </font>
          </a>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">您</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">是指訪問或使用服務的個人，或代表該個人訪問或使用服務的公司或其他法律實體（如適用）。</font>
          </font>
        </p>
      </li>
    </ul>
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">收集和使用您的個人數據</font>
      </font>
    </h1>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">收集的數據類型</font>
      </font>
    </h2>
    <h3>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">個人資料</font>
      </font>
    </h3>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">在使用我們的服務時，我們可能會要求您向我們提供某些可用於聯繫或識別您的個人身份信息。</font>
        <font style="vertical-align: inherit;">個人身份信息可能包括但不限於：</font>
      </font>
    </p>
    <ul>
      <li>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">電子郵件地址</font>
          </font>
        </p>
      </li>
      <li>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">名字和姓氏</font>
          </font>
        </p>
      </li>
      <li>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">使用數據</font>
          </font>
        </p>
      </li>
    </ul>
    <h3>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">使用數據</font>
      </font>
    </h3>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">使用服務時會自動收集使用數據。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">使用數據可能包括您設備的互聯網協議地址（例如 IP
          地址）、瀏覽器類型、瀏覽器版本、您訪問的我們服務的頁面、您訪問的時間和日期、在這些頁面上花費的時間、唯一設備等信息標識符和其他診斷數據。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">當您通過或通過移動設備訪問服務時，我們可能會自動收集某些信息，包括但不限於您使用的移動設備類型、您的移動設備唯一 ID、您的移動設備的 IP
          地址、您的手機操作系統、您使用的移動互聯網瀏覽器類型、唯一設備標識符和其他診斷數據。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">當您訪問我們的服務或通過或通過移動設備訪問服務時，我們還可能收集您的瀏覽器發送的信息。</font>
      </font>
    </p>
    <h3>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">來自第三方社交媒體服務的信息</font>
      </font>
    </h3>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">公司允許您通過以下第三方社交媒體服務創建帳戶並登錄以使用服務：</font>
      </font>
    </p>
    <ul>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">谷歌</font>
        </font>
      </li>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Facebook</font>
        </font>
      </li>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">推特</font>
        </font>
      </li>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">領英</font>
        </font>
      </li>
    </ul>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          如果您決定通過第三方社交媒體服務註冊或以其他方式授予我們訪問權限，我們可能會收集已與您的第三方社交媒體服務帳戶相關聯的個人數據，例如您的姓名、您的電子郵件地址、您的活動或您與該帳戶關聯的聯繫人列表。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">您還可以選擇通過您的第三方社交媒體服務的帳戶與公司分享其他信息。</font>
        <font style="vertical-align: inherit;">如果您選擇在註冊期間或以其他方式提供此類信息和個人數據，則表示您允許公司以符合本隱私政策的方式使用、共享和存儲這些信息和個人數據。</font>
      </font>
    </p>
    <h3>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">跟踪技術和 Cookie</font>
      </font>
    </h3>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們使用 Cookie 和類似的跟踪技術來跟踪我們服務上的活動並存儲某些信息。</font>
        <font style="vertical-align: inherit;">使用的跟踪技術是用於收集和跟踪信息以及改進和分析我們的服務的信標、標籤和腳本。</font>
        <font style="vertical-align: inherit;">我們使用的技術可能包括：</font>
      </font>
    </p>
    <ul>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Cookie 或瀏覽器 Cookie。</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">cookie 是放置在您的設備上的一個小文件。</font>
          <font style="vertical-align: inherit;">您可以指示您的瀏覽器拒絕所有 Cookie 或指示何時發送 Cookie。</font>
          <font style="vertical-align: inherit;">但是，如果您不接受 Cookie，您可能無法使用我們服務的某些部分。</font>
          <font style="vertical-align: inherit;">除非您已調整您的瀏覽器設置以拒絕 Cookie，否則我們的服務可能會使用 Cookie。</font>
        </font>
      </li>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">閃存餅乾。</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">我們服務的某些功能可能會使用本地存儲的對象（或 Flash Cookie）來收集和存儲有關您的偏好或您在我們服務上的活動的信息。</font>
          <font style="vertical-align: inherit;">Flash Cookie 的管理方式與瀏覽器 Cookie 所用的瀏覽器設置不同。</font>
          <font style="vertical-align: inherit;">有關如何刪除 Flash Cookie 的更多信息，請閱讀“我在哪裡可以更改禁用或刪除本地共享對象的設置？” </font>
          <font style="vertical-align: inherit;">可在</font>
        </font><a
          href="https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_"
          rel="external nofollow noopener" target="_blank">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              https://helpx.adobe.com/flash-player/kb/disable-local-shared-objects-flash.html#main_Where_can_I_change_the_settings_for_disabling__or_deleting_local_shared_objects_
            </font>
          </font>
        </a>
      </li>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">網絡信標。</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">我們服務的某些部分和我們的電子郵件可能包含稱為網絡信標（也稱為透明 gif、像素標籤和單像素
            gif）的小型電子文件，允許公司計算訪問過這些頁面的用戶數或打開電子郵件和其他相關網站的統計數據（例如，記錄某個版塊的受歡迎程度以及驗證系統和服務器的完整性）。</font>
        </font>
      </li>
    </ul>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Cookie 可以是“持久”或“會話”Cookie。</font>
        <font style="vertical-align: inherit;">當您離線時，持久性 Cookie 會保留在您的個人計算機或移動設備上，而會話 Cookie 會在您關閉網絡瀏覽器後立即刪除。</font>
      </font><a
        href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking"
        target="_blank">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">在隱私政策網站</font>
        </font>
      </a>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">文章中</font>
        <font style="vertical-align: inherit;">了解有關 cookie 的更多信息。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們將會話 Cookie 和持久 Cookie 用於以下目的：</font>
      </font>
    </p>
    <ul>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">必要/基本餅乾</font>
            </font>
          </strong></p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">類型：會話 Cookie</font>
          </font>
        </p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">管理人：我們</font>
          </font>
        </p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">目的：這些 Cookie 對於向您提供通過網站可用的服務以及使您能夠使用其某些功能至關重要。</font>
            <font style="vertical-align: inherit;">它們有助於對用戶進行身份驗證並防止對用戶帳戶的欺詐性使用。</font>
            <font style="vertical-align: inherit;">沒有這些 Cookie，將無法提供您所要求的服務，我們僅使用這些 Cookie 為您提供這些服務。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Cookie 政策/通知接受 Cookie</font>
            </font>
          </strong></p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">類型：持久性 Cookie</font>
          </font>
        </p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">管理人：我們</font>
          </font>
        </p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">目的：這些 Cookie 可識別用戶是否已接受在網站上使用 Cookie。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">功能餅乾</font>
            </font>
          </strong></p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">類型：持久性 Cookie</font>
          </font>
        </p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">管理人：我們</font>
          </font>
        </p>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">目的：這些 Cookie 允許我們記住您在使用本網站時所做的選擇，例如記住您的登錄詳細信息或語言偏好。</font>
            <font style="vertical-align: inherit;">這些 Cookie 的目的是為您提供更加個性化的體驗，並避免您每次使用本網站時都必須重新輸入您的偏好。</font>
          </font>
        </p>
      </li>
    </ul>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">有關我們使用的 cookie 以及您對 cookie 的選擇的更多信息，請訪問我們的 Cookie 政策或我們隱私政策的 Cookie 部分。
        </font>
      </font>
    </p>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">使用您的個人資料</font>
      </font>
    </h2>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">本公司可將個人資料用於以下目的：</font>
      </font>
    </p>
    <ul>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">提供和維護我們的服務</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">，包括監控我們服務的使用情況。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">管理您的帳戶：</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">管理您作為服務用戶的註冊。</font>
            <font style="vertical-align: inherit;">您提供的個人數據可以讓您訪問作為註冊用戶可用的服務的不同功能。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">為履行合同：</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">您已購買的產品、物品或服務的採購合同或通過服務與我們簽訂的任何其他合同的製定、遵守和承諾。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">與您聯繫：</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              通過電子郵件、電話、短信或其他等效形式的電子通信方式與您聯繫，例如移動應用程序關於功能、產品或合同服務（包括安全更新）的更新或信息通信的推送通知，在必要或合理的情況下執行。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">向您</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">提供有關我們提供的與您已經購買或詢問的類似的其他商品、服務和活動的新聞、特別優惠和一般信息，除非您選擇不接收此類信息。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">管理您的請求：</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">參加和管理您對我們的請求。</font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">對於業務轉讓：</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              我們可能會使用您的信息來評估或進行合併、剝離、重組、重組、解散或以其他方式出售或轉讓我們的部分或全部資產，無論是作為持續經營還是作為破產、清算的一部分，或類似程序，其中我們持有的關於我們服務用戶的個人數據屬於轉移的資產。
            </font>
          </font>
        </p>
      </li>
      <li>
        <p><strong>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">用於其他目的</font>
            </font>
          </strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              ：我們可能會將您的信息用於其他目的，例如數據分析、識別使用趨勢、確定我們的促銷活動的有效性以及評估和改進我們的服務、產品、服務、營銷和您的體驗。</font>
          </font>
        </p>
      </li>
    </ul>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們可能會在以下情況下分享您的個人信息：</font>
      </font>
    </p>
    <ul>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">與服務提供商：</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">我們可能會與服務提供商共享您的個人信息，以監控和分析我們服務的使用情況，以便與您聯繫。</font>
        </font>
      </li>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">對於業務轉讓：</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">我們可能會在與任何合併、出售公司資產、融資或將我們的全部或部分業務收購給另一家公司有關或在談判期間共享或轉讓您的個人信息。</font>
        </font>
      </li>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">與關聯公司：</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">我們可能會與我們的關聯公司共享您的信息，在這種情況下，我們將要求這些關聯公司遵守本隱私政策。</font>
          <font style="vertical-align: inherit;">關聯公司包括我們的母公司以及我們控製或與我們共同控制的任何其他子公司、合資夥伴或其他公司。</font>
        </font>
      </li>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">與業務合作夥伴：</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">我們可能會與我們的業務合作夥伴共享您的信息，以便為您提供某些產品、服務或促銷活動。</font>
        </font>
      </li>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">與其他用戶：</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">當您在公共區域與其他用戶共享個人信息或以其他方式互動時，該等信息可能會被所有用戶查看，並可能在外部公開分發。</font>
          <font style="vertical-align: inherit;">如果您與其他用戶互動或通過第三方社交媒體服務註冊，您在第三方社交媒體服務上的聯繫人可能會看到您的姓名、個人資料、圖片和您的活動描述。
          </font>
          <font style="vertical-align: inherit;">同樣，其他用戶將能夠查看您的活動描述、與您交流並查看您的個人資料。</font>
        </font>
      </li>
      <li><strong>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">徵得您的同意</font>
          </font>
        </strong>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">：我們可能會在徵得您同意的情況下出於任何其他目的披露您的個人信息。</font>
        </font>
      </li>
    </ul>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">保留您的個人資料</font>
      </font>
    </h2>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">公司將僅在本隱私政策中規定的目的所需的時間內保留您的個人數據。</font>
        <font style="vertical-align: inherit;">
          我們將在必要的範圍內保留和使用您的個人數據，以履行我們的法律義務（例如，如果我們需要保留您的數據以遵守適用的法律）、解決爭議並執行我們的法律協議和政策。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">公司還將保留使用數據用於內部分析。</font>
        <font style="vertical-align: inherit;">使用數據通常會保留較短的時間，除非該數據用於加強安全性或改進我們服務的功能，或者我們在法律上有義務將這些數據保留更長的時間。</font>
      </font>
    </p>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">傳輸您的個人數據</font>
      </font>
    </h2>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">您的信息（包括個人數據）將在公司的運營辦公室以及參與處理的各方所在的任何其他地方進行處理。</font>
        <font style="vertical-align: inherit;">這意味著該信息可能會被傳輸到並保存在位於您所在州、省、國家或其他政府管轄區之外的計算機上，這些地區的數據保護法可能與您所在管轄區的不同。
        </font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">您同意本隱私政策並隨後提交此類信息即表示您同意該轉讓。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          公司將採取一切合理必要的措施，確保您的數據得到安全處理並符合本隱私政策，除非有足夠的控制措施，包括安全性，否則不會將您的個人數據轉移到組織或國家您的數據和其他個人信息。</font>
      </font>
    </p>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">披露您的個人資料</font>
      </font>
    </h2>
    <h3>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">商業交易</font>
      </font>
    </h3>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">如果公司涉及合併、收購或資產出售，您的個人數據可能會被轉移。</font>
        <font style="vertical-align: inherit;">我們將在您的個人數據被轉移並受不同隱私政策約束之前發出通知。</font>
      </font>
    </p>
    <h3>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">執法</font>
      </font>
    </h3>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">在某些情況下，如果法律要求或響應公共當局（例如法院或政府機構）的有效要求，公司可能需要披露您的個人數據。</font>
      </font>
    </p>
    <h3>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">其他法律要求</font>
      </font>
    </h3>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">公司可能會真誠地披露您的個人數據，認為此類行動對於以下方面是必要的：</font>
      </font>
    </p>
    <ul>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">遵守法律義務</font>
        </font>
      </li>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">保護和捍衛公司的權利或財產</font>
        </font>
      </li>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">防止或調查與服務有關的可能的不當行為</font>
        </font>
      </li>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">保護服務用戶或公眾的人身安全</font>
        </font>
      </li>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">防止法律責任</font>
        </font>
      </li>
    </ul>
    <h2>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">您個人數據的安全</font>
      </font>
    </h2>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">您的個人數據的安全性對我們很重要，但請記住，沒有任何一種通過 Internet 傳輸的方法或電子存儲方法是 100% 安全的。</font>
        <font style="vertical-align: inherit;">雖然我們努力使用商業上可接受的方式來保護您的個人數據，但我們不能保證其絕對安全。</font>
      </font>
    </p>
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">兒童隱私</font>
      </font>
    </h1>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們的服務不針對 13 歲以下的任何人。我們不會故意從 13
          歲以下的任何人那裡收集個人身份信息。如果您是父母或監護人並且您知道您的孩子向我們提供了個人數據，請聯繫我們。</font>
        <font style="vertical-align: inherit;">如果我們發現我們在未經父母同意的情況下收集了 13 歲以下任何人的個人數據，我們會採取措施從我們的服務器中刪除該信息。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">如果我們需要將同意作為處理您的信息的法律依據，並且您所在的國家/地區需要父母的同意，我們可能會在收集和使用該信息之前要求您的父母同意。
        </font>
      </font>
    </p>
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">鏈接到其他網站</font>
      </font>
    </h1>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們的服務可能包含指向非我們運營的其他網站的鏈接。</font>
        <font style="vertical-align: inherit;">如果您點擊第三方鏈接，您將被引導至該第三方的網站。</font>
        <font style="vertical-align: inherit;">我們強烈建議您查看您訪問的每個網站的隱私政策。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們無法控制任何第三方網站或服務的內容、隱私政策或做法，也不承擔任何責任。</font>
      </font>
    </p>
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">本隱私政策的變更</font>
      </font>
    </h1>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">我們可能會不時更新我們的隱私政策。</font>
        <font style="vertical-align: inherit;">我們將通過在此頁面上發布新的隱私政策來通知您任何更改。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">在更改生效之前，我們將通過電子郵件和/或我們服務上的顯眼通知通知您，並更新本隱私政策頂部的“最後更新”日期。</font>
      </font>
    </p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">建議您定期查看本隱私政策以了解任何更改。</font>
        <font style="vertical-align: inherit;">本隱私政策的更改一經發佈在此頁面上即生效。</font>
      </font>
    </p>
    <h1>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">聯繫我們</font>
      </font>
    </h1>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">如果您對本隱私政策有任何疑問，您可以聯繫我們：</font>
      </font>
    </p>
    <ul>
      <li>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">通過電子郵件：privacy@kanboo.cc</font>
        </font>
      </li>
    </ul>
  </div>
</div>