<div class="home bg_pattern overflow-auto">
  <div class="container py-12 min-h-screen">
    <section class="flex justify-between items-start gap-7">
      <div class="flex-auto space-y-4">
        <div class="flex flex-col md:flex-row justify-between gap-2 md:gap-3">
          <div class="form-control">
            <label for="articleType"></label>
            <select v-model="search.timeSort" name="articleType" id="articleType"
              class="py-3 px-4 border-2 border-black h-full focus:outline-none">
              <option :value="SORT_TYPE.ASC">最舊貼文</option>
              <option :value="SORT_TYPE.DESC">最新貼文</option>
            </select>
          </div>
          <div class="input-group w-full">
            <label for="searchInput"></label>
            <input v-model="search.keyword" type="text" id="searchInput" name="searchInput" placeholder="搜尋貼文"
              class="w-full py-3 pl-4 border-2 border-black focus-visible:outline-none" />
            <button type="button" class="bg-primary btn-square text-white border-2 border-l-0 border-black p-3">
              <i class="fa-solid fa-magnifying-glass text-xl"></i>
            </button>
          </div>
        </div>

        <template v-if="normalizedPosts.length">
          <div class="card" v-for="post in normalizedPosts" :key="post._id">
            <div class="card-body">
              <div class="flex gap-4">
                <img :src="post.userPhoto" class="max-h-[40px] max-w-[40px]" alt="avatarImage" />
                <div class="">
                  <p class="font-bold mb-1">{{ post.userName }}</p>
                  <p class="text-xs text-gray-base font-num">{{ post.createdAt }}</p>
                </div>
              </div>
              <p class="whitespace-pre-line">{{ post.content }}</p>
              <img v-if="post.image" :src="post.image" class="max-h-[157px] max-w-[485px] object-contain" alt="" />
            </div>
          </div>
        </template>
        <template v-else>
          <div class="card">
            <div class="card-header">
              <div class="flex gap-[6px] p-4 border-b-2 border-black">
                <div class="bg-danger-dark rounded-full h-2 w-2 border border-[#707070]"></div>
                <div class="bg-warning rounded-full h-2 w-2 border border-[#707070]"></div>
                <div class="bg-accent rounded-full h-2 w-2 border border-[#707070]"></div>
              </div>
            </div>
            <div class="card-bdoy p-8">
              <p class="text-center text-gray-base">目前尚無動態，新增一則貼文吧！</p>
            </div>
          </div>
        </template>
      </div>

      <SideMenu />
    </section>
  </div>
</div>