<div class="login bg_pattern">
  <div class="container">
    <section class="flex justify-center md:justify-content items-center min-h-screen">
      <div
        class="border-2 border-black bg-gray flex flex-col md:flex-row justify-between gap-4 sm:gap-12 shadow-light px-4  py-6 md:py-16 md:px-12">

        <router-link :to="{ name: 'Home'}" class="self-center flex justify-center items-center md:w-1/3 lg:w-auto">
          <img src="@/assets/images/img.svg" alt="banner" class="w-40 h-40 md:w-full md:h-full cursor-pointer" />
        </router-link>

        <form class="w-full">
          <legend class="mb-9">
            <h1 class="text-center font-logo text-primary text-4xl md:text-6xl">MetaWall</h1>
            <p class="text-center font-bold text-xl md:text-2xl">到元宇宙展開全新社交圈</p>
          </legend>
          <div class="mb-8 space-y-4">
            <div class="form-control">
              <label for="userEmail"></label>
              <input type="mail" v-model="email" class="form-input font-mono" name="userEmail" placeholder="Email" />
              <span v-if="errors.email" class="form-errorMsg  register-style">{{ errors.email }}</span>
            </div>
            <div class="form-control">
              <label for="userPassword"></label>
              <input type="password" v-model="password" class="form-input font-mono" name="userPassword"
                placeholder="Password" />
              <span v-if="errors.password" class="form-errorMsg register-style">{{ errors.password }}</span>
            </div>
          </div>
          <p v-if="isLoginFailed" class="login-style form-errorMsg text-center">
            帳號或密碼錯誤，請重新輸入！
          </p>
          <button type="button" class="flex justify-center items-center btn btn-primary mb-4 btn-login"
            :class="getLoginBtnClass" :disabled="isScreenLoading" @click="onSubmit">
            <span class="mr-2">登入</span>
            <IconLoading v-show="isScreenLoading" class="h-6 w-6 text-white ml-2" />
          </button>
          <router-link :to="{ name: 'Register'}" class="block text-center">
            註冊帳號
          </router-link>
        </form>
      </div>
    </section>
  </div>
</div>